<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.tuke.ursus.redirecto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="sk.tuke.ursus.redirecto.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher_inverse"
        android:theme="@style/Theme.MyStyle" >
        <activity
            android:name="sk.tuke.ursus.redirecto.ui.LoginActivity"
            android:theme="@style/Theme.MyStyle.Login"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sk.tuke.ursus.redirecto.ui.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="sk.tuke.ursus.redirecto.ui.NewRoomActivity"
            android:label="@string/add_room" >
        </activity>
        <activity
            android:name="sk.tuke.ursus.redirecto.ui.RecordActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/record_fingerprints" >
        </activity>
        <activity
            android:name="sk.tuke.ursus.redirecto.ui.GatherActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/gather_aps" >
        </activity>
        <activity
            android:name="sk.tuke.ursus.redirecto.ui.AboutActivity"
            android:label="@string/about" >
        </activity>
        <activity
            android:name="sk.tuke.ursus.redirecto.ui.MyPreferencesActivity"
            android:label="Nastavenia" >
        </activity>
        <activity
            android:name="sk.tuke.ursus.redirecto.ui.RoomActivity"
            android:label="Detail miestnosti" >
        </activity>

        <service android:name="sk.tuke.ursus.redirecto.net.RestService" />
        <service android:name="sk.tuke.ursus.redirecto.SnifferService" />

        <provider
            android:name="sk.tuke.ursus.redirecto.provider.RedirectoProvider"
            android:authorities="sk.tuke.ursus.redirecto"
            android:exported="false" >
        </provider>
    </application>

</manifest>